* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: space-between;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.text {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: black;
}

.text-title {
    font-size: 20px;
    font-weight: 700;
}

.text-description {
    font-size: 12px;
    font-weight: 400;
}

.hr {
    background-color: #D9D9D9;
    height: 1px;
    border: 0;
    width: 100%;
}

.day-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 100%;
}

.day-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.text-day-name {
    font-size: 10px;
    font-weight: 500;
}

.text-day-number {
    font-size: 16px;
    font-weight: 500;
    display: flex;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}

.text-day-full-name {
    font-size: 16px;
    font-weight: 500;
}

.day-today {
    border: 1px solid #16A9D8;
}

.selected {
    background-color: rgba(96, 215, 253, 0.75);
}

.day-holiday {
    color: rgba(0, 0, 0, 0.5);
}

.time-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 100%;
}

.time-card {
    width: 86px;
    height: 36px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #D9D9D9;
    cursor: pointer;
}

.time-card-title {
    font-size: 14px;
    font-weight: 400;
}

.button {
    background-color: #1C2A3A;
    height: 49px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
}

.button-text {
    color: white;
    font-size: 15px;
    font-weight: 600;
}
